<div>
  <%= form_for :reading , url: { controller: 'readings', action: 'create' } do |f| %>
    <%= f.number_field :value, placeholder: 'mg/dl' %>
    <%= f.hidden_field :user_id, value: @user.id %>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>
