<div class="col-md-6">
  <h2>Current users of Sweety</h2>
  <% @users.each do |user| %>
    <p><strong><%= user.full_name %></strong></p>
    <p><%= link_to 'Submit New Readings', user_readings_path(user), id: "readings-link-#{user.id}" %> -
       <%= link_to 'Run Report on Past Readings', new_user_report_path(user), id: "reports-link-#{user.id}" %></p>
  <% end %>
</div>
